@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Muli');

*{margin: 0; padding: 0;}
h1 {font-size: 40px; font-weight: bold; padding: 10px;}
h2 {font-size: 40px; color: darkviolet;}
p {font-size: 20px;}
a{color:purple; font-size: 60px; text-decoration: none;}
a:hover {text-decoration: underline; font-weight: bold;}
.active { text-decoration: underline; font-weight: bold;}
img {width: 200px; background-color: green; padding: 40px;color: #222;}
#header {
display: flex;
justify-content: center;
width: 100%;
background-color: tomato;
}

#container {
display: flex;
flex-wrap: wrap;
width: 100%;
background-color: aqua;	 
}

#inhalt{
display: flex;
justify-content: space-around;
flex-wrap: wrap; 
width: 75%;
background-color: darkcyan;
}	

.text{
	width: 100%;
}

.icon{
}

#navi{
width: 25%;
background-color: cornflowerblue;	
}

#footer{
width: 100%;
background-color: aquamarine;
justify-content: center;
}